<div class="container">
  <h1>Welcome to Twitter!</h1>
  <form action="/posts" method="POST">
    <input type="text" id="twitter" name="username">
    <input type="submit">
  </form>  
  <button type="button">YOLO</button>
  <div id="tweets">
  </div>


</div>
